.venv/
__pycache__/
*.py[cod]

.env

.pytest_cache/
.mypy_cache/
.ruff_cache/

storage/

*.log

services/ml-service/models/*
!services/ml-service/models/.gitkeep
services/ml-service/datasets/*.csv
data/datasets/csv-*.csv